.catalog {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // margin-top: -30px;
  // margin-left: -30px;
}

.catalog__item {
  @include tablet {
    max-width: 354px;
  }
  @include desktop {
    max-width: 370px;
  }
}

.catalog__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.catalog__img-box {
  position: relative;
  overflow: hidden;
}

.catalog__hiddentext {
  position: absolute;
  top: 0;

  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--white-color);
  background-color: var(--card-bg-color);

  transform: translateY(120%);
  transition: transform 250ms var(--cubic);

  .catalog__link:hover & {
    transform: translateY(0);
  }

  .catalog__link:focus & {
    transform: translateY(0);
  }
}

.catalog__text-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--lightgrey-color);
  border-top: none;
}

.catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  /* margin-top: 20px; */
  margin-bottom: 4px;
}

.catalog__description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey-color);
}
