.filter {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
  @include tablet {
    justify-content: center;
  }
}

.filter__btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--black-color);
  background-color: var(--btngrey-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .filter__item:not(:first-child) {
//   margin-left: 8px;
// }
