h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
