.footer {
  background-color: var(--grey-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  flex-direction: column;

  align-items: center;
  @include desktop {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer__top-box {
  @include tablet {
    display: flex;
  }
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
  text-align: center;
  @include desktop {
    text-align: left;
  }
}

.address-text {
  line-height: 1.71;
  color: var(--white-color);
}

.address-link {
  line-height: 1.71;
  color: var(--opacityblack-color);
}

.footer__contacts {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include tablet {
    margin-right: 165px;
  }
  @include desktop {
    margin-right: 70px;
  }
}

.footer__socials {
  margin-top: 60px;
  @include tablet {
    margin-top: 0;
  }
}

.footer__socials-call {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
  @include desktop {
    text-align: left;
  }
}

.sign {
  margin-top: 60px;
  @include desktop {
    margin-top: 0;
    margin-left: auto;
  }
}

.sign__call {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
  @include desktop {
    text-align: left;
  }
}

.sign__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 15px;
  font-size: 18px;
  color: var(--white-color);
  outline: none;
  transition: border-color 250ms var(--cubic);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.sign form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;
  }
}

.sign__btn {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  margin-top: 20px;
  margin-left: 12px;
  padding: 10px 29px;
  border-radius: 4px;
  border: none;
  display: flex;
  transition: background-color 250ms var(--cubic);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  @include desktop {
    margin-top: 0;
  }
}

.sign__btn-icon {
  margin-left: 10px;
  fill: var(--white-color);
}
