.header {
  border-bottom: 1px solid var(--lightgrey-color);
  width: 100%;
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    display: none;
  }
}

.header-desktop {
  display: none;
  height: 80px;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
  }
  @include desktop {
    justify-content: space-between;
    padding: 0;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__contacts {
  display: flex;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: flex-end;
  }
}

.header__navlist {
  display: flex;
  @include tablet {
    margin-left: 88px;
  }
  @include desktop {
    margin-left: 93px;
  }
}

.header__navitem:not(:last-child) {
  margin-right: 50px;
}

.header__navlink {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__contlink {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  @include desktop {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__navlink.current {
  color: var(--accent-color);
}

.header__contitem + .header__contitem {
  @include tablet {
    margin-top: 10px;
  }
  @include desktop {
    margin-left: 30px;
    margin-top: 0;
  }
}

.current::after {
  position: relative;
  bottom: -34px;
  right: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   bottom: -34px;
  // }
}

.header__conticon {
  margin-right: 10px;
  fill: currentColor;
}

.accent-link {
  transition: color 250ms var(--cubic);
}

.accent-link:hover,
.accent-link:focus {
  color: var(--accent-color);
}

.header-mobile__btn {
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
  transition: fill 250ms var(--cubic);
  &:hover,
  &:focus {
    fill: #188ce8;
  }
}
