.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 48px 40px;
  background-color: var(--white-color);
  border: 1px solid rgb(0, 183, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;

  transform: scale(0);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);

  &.is-open {
    transform: scale(1);
    opacity: 1;
  }
}

.mob-menu__btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  transition: fill 250ms var(--cubic);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu__navlist {
  margin-bottom: 30px;
}

.mob-menu__navlink {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--black-color);
  transition: color 250ms var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-menu__navitem:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__contacts {
  margin-bottom: 64px;
}

.mob-menu__contitem:first-child {
  margin-bottom: 30px;
}

.mob-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.mob-menu__soclist {
  display: flex;
  margin-left: -10px;
}

.mob-menu__socitem {
  display: flex;
  margin-left: 10px;
}

.mob-menu__socitem:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 15px;
}

.mob-menu__soclink {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
