.team {
  background-color: var(--light-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team-title {
  margin-bottom: 50px;
}

.cards__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}

.cards__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cards__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.cards__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--grey-color);
  margin-bottom: 16px;
}
