:root {
  --accent-color: #2196f3;
  --black-color: #212121;
  --superblack-color: #000000;
  --opacityblack-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --grey-color: #757575;
  --lightgrey-color: #eeeeee;
  --grey-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --light-bg-color-hero: #c4c4c4;
  --btngrey-color: #f5f4fa;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --card-bg-color: rgba(33, 150, 243, 0.9);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
